/*  your css code here. If applicable */
<style>
    
        table{
            width: 100%;
            background-color: yellow ;
            border-collapse: collapse;
        }
        table, th, tr, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        caption {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>